.chats{
max-width: 700px;
  height: 80vh;          
  overflow-y: auto;      
  padding: 2rem;
}
.chats::-webkit-scrollbar {
  width: 8px;             
  background: #323232;    
  border-radius: 8px;      
}

.userDiv{
display: flex;
justify-content: flex-end;
font-size: 0.9rem;
}

.gptDiv{
text-align: left;
font-size: 0.9rem;
}

.userMessage{
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 14px;
  margin-left:15rem;
  max-width: 500px;
  width: fit-content;
}

.hljs{
  border-radius: 14px !important;
}

pre{
  white-space: pre-wrap;
}
